In [13]:
import pandas as pd

In [14]:
movies = pd.read_csv('movies.csv', dtype='object')
movies.head()

,movie_id,movie_rating_avg,movie_rating_no,movie_title,movie_year,user_rated_day,user_rated_month,user_rated_year,user_rating,user_url
0,536242,"7,6",48 750,Król rozrywki,2017,9,6,2019,10,https://www.filmweb.pl/user/Juliette97/films?p...
1,805947,"6,9",58 991,"Do wszystkich chłopców, których kochałam",2018,28,12,2018,6,https://www.filmweb.pl/user/Juliette97/films?p...
2,814049,"6,1",18 758,Zamiana z księżniczką,2018,28,12,2018,3,https://www.filmweb.pl/user/Juliette97/films?p...
3,813525,"6,7",10 868,Kronika świąteczna,2018,28,12,2018,5,https://www.filmweb.pl/user/Juliette97/films?p...
4,779043,"6,3",53 874,Listy do M. 3,2017,26,12,2017,6,https://www.filmweb.pl/user/Juliette97/films?p...

In [15]:
movies.dtypes

movie_id            object
movie_rating_avg    object
movie_rating_no     object
movie_title         object
movie_year          object
user_rated_day      object
user_rated_month    object
user_rated_year     object
user_rating         object
user_url            object
dtype: object

In [16]:
movies.shape

(27070, 10)

In [17]:
movies['user_rated_date'] = pd.to_datetime(movies.rename(columns={'user_rated_day':'Day', 'user_rated_month':'Month', 'user_rated_year':'Year'})[['Day','Month','Year']])

In [18]:
movies = movies.drop(['user_rated_day', 'user_rated_month', 'user_rated_year'], axis = 1)

In [19]:
movies['movie_rating_avg'] = movies.movie_rating_avg.apply(lambda x: float(x.replace(',', '.').replace(' ', '')))
movies['movie_rating_no'] = movies.movie_rating_no.apply(lambda x: float(x.replace(',', '.').replace(' ', '')))

movies['user_rating'] = movies.user_rating.astype(int)

In [20]:
movies.head()

,movie_id,movie_rating_avg,movie_rating_no,movie_title,movie_year,user_rating,user_url,user_rated_date
0,536242,7.6,48750.0,Król rozrywki,2017,10,https://www.filmweb.pl/user/Juliette97/films?p...,2019-06-09
1,805947,6.9,58991.0,"Do wszystkich chłopców, których kochałam",2018,6,https://www.filmweb.pl/user/Juliette97/films?p...,2018-12-28
2,814049,6.1,18758.0,Zamiana z księżniczką,2018,3,https://www.filmweb.pl/user/Juliette97/films?p...,2018-12-28
3,813525,6.7,10868.0,Kronika świąteczna,2018,5,https://www.filmweb.pl/user/Juliette97/films?p...,2018-12-28
4,779043,6.3,53874.0,Listy do M. 3,2017,6,https://www.filmweb.pl/user/Juliette97/films?p...,2017-12-26

In [21]:
movies.dtypes

movie_id                    object
movie_rating_avg           float64
movie_rating_no            float64
movie_title                 object
movie_year                  object
user_rating                  int32
user_url                    object
user_rated_date     datetime64[ns]
dtype: object

In [22]:
movies.shape

(27070, 8)

In [28]:
movies.user_url.iloc[1].replace('https://www.filmweb.pl/user/', '').split('/')

['Juliette97', 'films?page=1']

In [32]:
movies['user_name'] = movies.user_url.apply(lambda x: x.replace('https://www.filmweb.pl/user/', '').split('/')[0])
movies['user_page'] = movies.user_url.apply(lambda x: int(x.replace('https://www.filmweb.pl/user/', '').split('/')[1].replace('films?page=', '')))
movies = movies.drop(['user_url'], axis = 1)

In [42]:
movies.head()

,movie_id,movie_rating_avg,movie_rating_no,movie_title,movie_year,user_rating,user_rated_date,user_name,user_page
0,536242,7.6,48750.0,Król rozrywki,2017,10,2019-06-09,Juliette97,1
1,805947,6.9,58991.0,"Do wszystkich chłopców, których kochałam",2018,6,2018-12-28,Juliette97,1
2,814049,6.1,18758.0,Zamiana z księżniczką,2018,3,2018-12-28,Juliette97,1
3,813525,6.7,10868.0,Kronika świąteczna,2018,5,2018-12-28,Juliette97,1
4,779043,6.3,53874.0,Listy do M. 3,2017,6,2017-12-26,Juliette97,1

Data Analysis

In [54]:
no_movies_by_user = movies.groupby('user_name').movie_id.count().reset_index().sort_values(by = 'movie_id', ascending = False)

In [57]:
no_movies_by_user.head(9)

                user_name  movie_id
9            Fifilifion10      2015
12               Igulec_x      1291
66                mati979      1106
5                  Azater      1091
67                 mauget      1019
55              kamma_hha       948
2                 AoiYuno       773
7   DOMINIKA12345_filmweb       772
33                  Xerej       758

In [58]:
movies.head()

,movie_id,movie_rating_avg,movie_rating_no,movie_title,movie_year,user_rating,user_rated_date,user_name,user_page
0,536242,7.6,48750.0,Król rozrywki,2017,10,2019-06-09,Juliette97,1
1,805947,6.9,58991.0,"Do wszystkich chłopców, których kochałam",2018,6,2018-12-28,Juliette97,1
2,814049,6.1,18758.0,Zamiana z księżniczką,2018,3,2018-12-28,Juliette97,1
3,813525,6.7,10868.0,Kronika świąteczna,2018,5,2018-12-28,Juliette97,1
4,779043,6.3,53874.0,Listy do M. 3,2017,6,2017-12-26,Juliette97,1

In [63]:
no_movies_ratings = movies.movie_title.value_counts().reset_index()
no_movies_ratings.head(10)

                                     index  movie_title
0                               Nietykalni           68
1                             Forrest Gump           63
2                     Skazani na Shawshank           58
3                             Zielona mila           57
4                                    Shrek           55
5                                   Avatar           54
6                                 Incepcja           54
7  Piraci z Karaibów: Klątwa Czarnej Perły           53
8                                Kac Vegas           52
9                       Wilk z Wall Street           51

In [76]:
aggregated_movies = movies.groupby('movie_title').agg({'user_rating': 'mean', 'movie_id': 'count'}, axis = 1).reset_index().sort_values(by = 'movie_id', ascending = False)

In [80]:
aggregated_movies.query('movie_id >5').sort_values(by = 'user_rating', ascending = False)

                         movie_title  user_rating  movie_id
4479  Spirited Away: W krainie Bogów     8.888889         9
2572                         Maczeta     8.833333         6
4401            Skazani na Shawshank     8.793103        58
3973                   Przesłuchanie     8.750000         8
5700                  Zapach kobiety     8.681818        22
...                              ...          ...       ...
417                      Bejbi blues     3.100000        10
38             1920 Bitwa Warszawska     2.714286        14
710                           Ciacho     2.333333         6
548                           Botoks     2.333333         6
4885                        The Room     0.888889         9

[1331 rows x 3 columns]

In [ ]:
movies.query()